<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
   <center>
    <div class="active item"><%= image_tag('white-limo-men.png', :size => "500x250") %></div>
    <div class="item"><%= image_tag('hummer_caru.png', :size => "500x250") %></div>
    <div class="item"><%= image_tag('hummer-inside.png', :size => "500x250") %></div>
    <div class="item"><%= image_tag('porshe_limo.jpg', :size => "500x250") %></div>
   </center>
  </div>
  <!-- Carousel nav -->
   <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
