<ul class="thumbnails">
  <li class="span4">
    <div class="thumbnail rose-paper">
     <%= link_to image_tag("hummer_caru_300-200.png", style: "margin-top: -17px") %>
      <h1>Деньги</h1>
        <p>
          С нами вы получаете самое выгодное предложение на рынке. Сравнивайте цены и автовладельцев. Выбирайте лучших. <b>Бесплатно.</b>
        </p>
    </div>
   </li>
  <li class="span4">
    <div class="thumbnail orange-paper" style="background-image: url(/assets/time.png); background-repeat: no-repeat; background-position: 160px -10px">
      <h1>Время</h1> 
        <p>
          Вы экономите время. Вам не нужно обзванивать кампании владельцы лимузинов. <%= link_to 'Разместив заказ', new_contract_path %> на сайте вы сами получаете предложения. Предложения приходят по email или SMS. Никаких звонков. Удобно. <b>Регистрация на сайте не требуется.</b>
        </p>
    </div>
   </li>
  <li class="span4">
    <div class="thumbnail blue-paper">
      <h1>Выбор</h1> 
        <p>
          С нами вы получите самый большой выбор: нашим сайтом пользуются владельцы лимузинов и минивэнов представительского класса. Мы главный и единственный агрегатор услуги. Именно поэтому Вам всегда <b>есть что выбрать.</b>
        </p>
    </div>
   </li>

</ul>

