<div class="center hero-unit">
  <h1>Welcome to the TaxiZi</h1>
    <h2>Use pre order and get best offer.</h2>
      <h3>Limo, vip-class sedans, CEO-vans and retro cars.</h3>
        <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-success" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

