<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Вас приветствует TaxiZi, <%= @user.name %></h1>
    <p>
      Ваши данные были успешно обновлены. Ваш логин для входа на сайт: <%= @user.email %>.<br/>
    </p>

DONT REPLAY ON THIS EMAIL
  </body>
</html>
