<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Здравствуйте, <%= @user.name %></h1>
    <p>
      Кто то с вашим почтовым адресом зарегистрировался на сайте taxizi.ru.
    </p>
      Логин для входа на сайт соответсвует email: <%= @user.email %>.
    </p>
    <p>
      Чтоб войти на сайт перейдите на <%= link_to 'войти', signin_path %>.
    </p>
    <p>Спасибо и удачи!</p>
Не отвечайте на это письмо оно сформировано автоматической службой уведомления клиентов.
  </body>
</html>
