<% provide(:title, "Редактировать предзаказ") %>
<h2>Редактировать предзаказ.</h2>
<div class="row">
  <div class="span10 offset1">
    <%= form_for(@contract) do |f| %>

      <%= render 'valid_field' %>

      <%= render 'contract_field', f: f %>

    <% end %>

  </div>
</div>
