<% provide(:title, 'Все заявки') %>
<div class="row">
  <aside class="span4">
    <section>
<h1> searchhhhhhhhh</h1>
    </section>
  </aside>
  <div class="span8">
   <h1>Заявки</h1>
     <%= will_paginate %>
       <ol class="contracts">
         <%= render @contracts %>
       </ol>
     <%= will_paginate %>
  </div>
</div>
