<% provide(:title, 'Все предзаказы') %>
<div class="row">
<aside>
</aside>
<div class="offset3 span9">
<h2>Предзаказы</h2>
<%= will_paginate %>
<ol class="contracts">
<%= render @contracts %>
</ol>
<%= will_paginate %>
</div>
</div>
