<% provide(:title, 'Все заявки') %>
<div class="row">
  <aside class="span2">
    <section>
<h1> search</h1>
    </section>
  </aside>
  <div class="span9">
   <h2>Все заявки</h2>
     <%= will_paginate %>
       <ol class="contracts">
         <%= render @contracts %>
       </ol>
     <%= will_paginate %>
  </div>
</div>
