<% provide(:title, 'Открытые заказы') %>
<div class="row">
  <aside class="span2">
    <%= render 'search_form' %>
  </aside>
  <div class="span9">
   <h2>Открытые заказы</h2>
     <%= will_paginate %>
       <ol class="contracts">
         <%= render @contracts %>
       </ol>
     <%= will_paginate %>
  </div>
</div>
