<% provide(:title, 'Открытые заказы') %>
<div class="row">
  <aside class="span2">
    <%= render 'search_form' %>
  </aside>
  <div class="span10" style: "margin-top: -100px">
      <h4>
        Открытые заказы
      </h4>
       <%= will_paginate_with_i18n %>
          <%= render @contracts %>
       <%= will_paginate_with_i18n %>
  </div>
</div>
