<% provide(:title, 'Все предзаказы') %>
<div class="row">
  <aside class="span3">
    <section>
 
    </section>
  </aside>
<div class="span8">
<h2>Предзаказы</h2>
<%= will_paginate %>
<ol class="contracts">
<%= render @contracts %>
</ol>
<%= will_paginate %>
</div>
</div>
