<% provide(:title, "Новый предзаказ") %>
<h2>Заполните форму предзаказа.</h2>
<div class="row">
  <div class="span10 offset1">
    <%= form_for(@contract) do |f| %>
     <%= render 'shared/error_messages', object: f.object %>
      <%= render 'contract_field', f: f %>

    <% end %>

  </div>
</div>
