<% provide(:title, "Новый заказ") %>
<div class="row">
  <div class="span2 left-label white-vatmann thumbnail">
     <small>
      <ul>
       <li>
         Вместе с нами лучшии машины стали доступнее.
       </li>
       <li>
         Разместите заявку и ждите предложений от владельцев лимузинов и минивэнов. 
       </li>
       <li>
         Никаких звонков: получайте предложения через почту или SMS. Это реально быстро и удобно.
       </li>
       <li> 
         Выбирете реально лучшие автомобили по удивительно доступным ценам.
       </li>
     </ul>
   </small> 
 </div>
    <h1>Выбери лучшее</h1>
    <div class="span9 thumbnail" style="margin-top: -18px;">
      <h2>Такси Zi. Лимузины стали доступнее.</h2>
       <%= form_for(@contract) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
         <%= render 'contract_field', f: f %>
      <% end %>
    </div>
 </div>
<%= render 'shared/yandex_order' %>

