<% provide(:title, "Новый заказ") %>
<div class="row">
  <div class="span2 roll-label white-vatmann">
    <div style="margin: 6px"> 
     <small>
      <ul>
       <li>
         Вместе с нами лучшии машины стали доступнее.
       </li>
       <li>
         Разместите заявку и ждите предложений от владельцев лимузинов и минивэнов. 
       </li>
       <li>
         Никаких звонков: получайте предложения через почту или SMS. Это реально быстро и удобно.
       </li>
       <li> 
         Выбирите реально лучшие автомобили по удивительно доступным ценам.
       </li>
     </ul>
   </small>
  </div> 
 </div>
    <h1>Выбери лучшее</h1>
    <div class="span9 rose-paper" style="margin-top: -18px">
      <h2>ТАКСИZИ. Лимузины стали доступнее.</h2>
       <%= form_for(@contract) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
         <%= render 'contract_field', f: f %>
      <% end %>
    </div>
 </div>

