<% provide(:title, 'Sign up') %>
<h1>Регистрация</h1>
<h3>Можете заполнить только желтые поля.</h3>
<div class="row">
  <div class="span6 offset3 white-vatmann">
   <div style="margin: 20px">
    <%= form_for @user, :html => { :multipart => true } do |f| %>
     <%= render 'shared/error_messages', object: f.object %>
      <%= render 'fields', f: f %>
       <%= f.submit "Зарегистрироваться", class: "btn btn-warning" %>
    <% end %>
   </div>
  </div>
</div>
