<% provide(:title, 'Восстановление пароля') %>
<div class="row">
  <div class="hero-unit">
     <div style="margin-top: 20px">
      <h4>Aye-aye Sir!</h4>
      <p>
        Удачной поездки.
       </p>
     </div>
  </center>
 </div>
</div>

