<% provide(:title, 'Восстановление пароля') %>
<div class="row">
  <div class="hero-unit">
    <h1>Восстановление</h1>
     <div style="margin-top: 80px; margin-left: 80px">
      <p>Новый пароль выслан,<br/> проверьте почту.</p>
     </div>
  </center>
 </div>
</div>

