<% provide(:title, 'Восстановление пароля') %>

  <div class="hero-unit">
     <div style="margin-top: 20px">
      <h4>Aye-aye Sir!</h4>
      <p>
        Иногда день удачный.<br/>
        А иногда нет.<br/>
        Даже в салоне лимузина.
       </p>
     </div>
 </div>

