<% provide(:title, 'Восстановление пароля') %>
<div class="row">
  <div class="hero-unit">
     <div style="margin-top: 20px">
      <h4>Aye-aye Sir!</h4>
      <p>
        Новый пароль создан и выслан,<br/> 
        проверьте почту.<br/>
        Удачи.
       </p>
     </div>
  </center>
 </div>
</div>

