<h1>Ваше письмо отправлено.</h1>
<p>
Спасибо за сотрудничество. Нам очень важно иметь постоянный контакт и отвечать на ваши письма и решать ваши проблемы. Сервис - это основа нашего бизнеса. Мы начали работать и наш сотрудник ответит Вам в кратчайшие сроки.
</p>
