<!-- Modal -->
<div id="agreement" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Соглашение об обработке персональных данных</h3>
  </div>
  <div class="modal-body">
    <p>
       Данное соглашение об обработке персональных данных разработано в соответствии с законодательством Российской Федерации, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных». 
    </p>
    <p>
      Все лица заполнившие сведения составляющие персональные данные на данном сайте, а также разместившие иную информацию обозначенными действиями подтверждают свое согласие на обработку персональных данных и их передачу оператору обработки персональных данных.
    </p>
    <p>
      Под персональными данными Гражданина понимается нижеуказанная анкетная и биографическая информация:
      общая информация (Ф.И.О. заказчика и исполнителя); номера мобильных телефонов; адреса электронной почты.
     </p>
     <p>
      Гражданин, принимая настоящее Соглашение, выражают свою заинтересованность и полное согласие, что обработка их персональных данных может включать в себя следующие действия: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, уничтожение.
    </p>
    <p>
      Гражданин гарантирует: информация, им предоставленная, является полной, точной и достоверной; при предоставлении информации не нарушается действующее законодательство Российской Федерации, законные права и интересы третьих лиц; вся предоставленная информация заполнена Гражданина в отношении себя лично.
    </p>
    <p>
     Заказчика и Исполнитель согласны с тем что их персональные данные будут переданы друг другу. 
    </p>
  </div>
  <div class="modal-footer">
   <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
