<li>
  <span class="content">
     <%= link_to offer.user.name, user_path(offer.user) %> =
     <%= offer.price %> рублей.
  </span>
  <span class="timestamp">
    <%= offer.adword %>
   <hr/>
  </span>
</li>
