// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
 background-image: url(retro_white_300-200.jpg);
 background-repeat: no-repeat;
 background-position: 130px 30px;
}
