<footer class="footer">
  <small>Made VS inspired
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li>Служба поддержки +79264001913</li>
      <li><%= link_to "Пользовательское соглашение",   about_path %></li>
      <li><%= link_to "Контакты", contact_path %></li>
    </ul>
  </nav>
